@import "../../styles/variables";

.header-navigate-breadcrumb {
  color: $lightGrey;
  padding: 0 1em;
}

.header-item-name {
  font-size: 18px;
  margin: 0 4em 0 10em;
  text-align: left;
  width: 50%;
}
