.my-account {
  .upload-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10em;
    width: 500px;
    float: right;
    margin-top: 50px;
  }
}
