@import 'src/styles/variables.scss';

.whole-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 150px;
    .flex-item{
        width: calc(100% / 2);
    }
    .images{
        .first-image{
            height: 370px;
            margin-bottom: 10px;
            margin-top: 100px;
        }
        .two-images{
            display: flex;
            align-items: center;
            justify-content: center;
            .other-image{
                height: 180px;
                margin: 10px;
            }
        }
    }
    .text{
        text-align: left;
        .title{
            color: $darkGrey;
            font-size: 24px;
            letter-spacing: 0.84px;
            font-family: Lato Bold;
        }
        .paragraph{
            font-size: 16px;
            color: $lightGrey;
            padding-top: 40px;
        }
    }
}