@import 'src/styles/variables.scss';

@font-face {
  font-family: "Lato Light";
  src: local("Lato-Light"),
    url("./resources/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"),
    url("./resources/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  src: local("Lato-Regular"),
    url("./resources/fonts/Lato-Bold.ttf") format("truetype");
}

.App {
  text-align: center;
  font-family: Lato Regular;
  h1{
    color: $darkGrey;
    font-family: Lato Bold;
    font-size: 40px;
  }
  h2{
    color: $darkGrey;
    font-family: Lato Bold;
    font-size: 32px;
  }
  h3, a{
    color: $darkGrey;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: $purple;
  }
  a:active {
    text-decoration: underline;
  }
  .clicked{
    cursor: pointer;
  }
}

